/* styles/Markdown.module.css */
.markdown {
  font-family: sans-serif;
  line-height: 1.7;
  color: #333;
}

.markdown h1 {
  font-size: 2em;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.3em;
  margin-top: 1em;
}

.markdown h2 {
  font-size: 1.5em;
  margin-top: 1.2em;
  color: #005f99;
}

.markdown p {
  margin: 1em 0;
}

.markdown a {
  color: #1e90ff;
  text-decoration: underline;
}

.markdown ul {
  padding-left: 1.5em;
  margin-bottom: 1em;
}

.markdown li {
  margin-bottom: 0.5em;
  margin-left: 1rem;
}

.markdown blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1em;
  color: #555;
  font-style: italic;
  margin: 1em 0;
}

.markdown code {
  font-family: monospace;
  background-color: #f5f5f5;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.9em;
}

.markdown pre {
  //   background-color: #282c34;
  background-color: #1d2020;
  color: #fff;
  padding: 1em;
  border-radius: 6px;
  overflow-x: auto;
  font-size: 0.9em;
  margin: 1em 0;

  code {
    background-color: #1d2020;
  }
}

.markdown strong {
  //   display: block;
  margin-right: 0.25em;
}

.markdown table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    border: 1px solid #999;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
  }

  th {
    background-color: #f5f5f5;
  }
}
